*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    border: 1px solid black;
    width: 520px;
    padding: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.input{
    width: 500px;
}
.btn{
    background-color: green;
}